{% extends 'portfolio/base.html' %} <!-- добавляем базовый шаблон (навбар) для страницы -->
{% block content %}

<form action="{% url 'blog:all_blogs' %}">
  <input type="submit" value="Блог" class="btn btn-secondary btn-sm">
</form>

 <h1><b>Домашняя страница портфолио</b></h1>

 {% load static %} <!-- когда используем статические файлы всегда добавляем эту команду -->
 <br><a href="{% static 'portfolio/Евстафьев Александр Анатольевич.pdf' %}">Resume</a>
 <br><img src="{% static 'portfolio/portret.jpg' %}" width="18%" height="70%">

 {% for project in projects %}  <!-- логическая связь между кодом и шаблоном (цикл django по работе списка с шаблоном) -->

 <h2>{{ project.title }}</h2> <!-- Отображение перебора по списку -->
 <p>{{ project.description }}</p>
 <img src="{{ project.image.url }}">
 {% if project.url %} <!-- Если ссылка существует то ее отображаем -->
 <br><a href="{{ project.url }}">Link</a>
 {% endif %}

 {% endfor %} <!-- Конец списка -->

{% endblock %}